body {
  font-family: Arial, sans-serif;
  background-image: url(BG.jpg);
  
  /* background: linear-gradient(to right, #6dd5ed, #2193b0); */
  color: white;
  text-align: center;
  padding-top: 50px;
}

.title {
  color: rgba(12, 97, 114, 0.673);
 
  padding: 2px;
  padding-bottom: 2px;
  height: 30px;
  width: 200px;
  margin-left: 180px;
  font-size: 15px;
  padding-bottom: 22px;
  padding-top: 2px;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
 
  


}
#line {
  font-size: 14px;
  font-weight: normal;
  font-family: cursive;
  border: none;
  margin-top: 0px;
  font-style: italic;
  height: 20px;
  width: 190px;
  align-items: center;
  justify-content: center;
  margin-left: 190px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.container {
  max-width: 600px;
  margin: 100px auto;
  background: rgba(232, 229, 229, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 1px grey;
}

input, button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
}

button:hover{
  background-color: rgba(37, 199, 236, 0.951);
  }

.weather {
  margin-top: 20px;
  text-decoration-color: black;

}

#weatherResult {
  color: black;
  padding: 20px;
  border-radius: 10px;
}